{% extends 'Back/base.html.twig' %}

{% block title %}
    Recrutement Index
{% endblock %}

{% block body %}
    {% set successFlash = app.session.flashbag.get('success') %}
    {% if successFlash is not empty %}
        <div id="successAlert" class="alert alert-success mt-4" style="display: none; position: fixed; top: 0; left: 50%; transform: translateX(-50%); z-index: 9999;">
            <span class="iconify" data-icon="carbon:checkmark-outline" data-inline="false"></span>
            {% for message in successFlash %}
                {{ message|raw }}<br>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row align-items-center my-5">
        <div class="col-md-7">
            <h1 class="display-3 font-weight-bold text-white">Recrutement Index</h1>
        </div>
        <div class="col-md-5 text-end">
            <a href="{{ path('app_recrutement_new') }}" class="btn btn-lg btn-info">
                <i class="fa fa-plus" aria-hidden="true">&nbsp;</i>
                New Recrutement
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="bg-dark text-white">
                <tr>
                    <th scope="col" class="text-center">Id</th>
                    <th scope="col" class="text-center">Title</th>
                    <th scope="col" class="text-center">Description</th>
                    <th scope="col" class="text-center">Date</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recrutement in recrutements %}
                    <tr>
                        <td class="text-center">{{ recrutement.id }}</td>
                        <td class="text-center">{{ recrutement.titre }}</td>
                        <td class="text-center">{{ recrutement.description }}</td>
                        <td class="text-center">{{ recrutement.date ? recrutement.date|date('Y-m-d') : '' }}</td>
                        <td class="text-center">{{ recrutement.statut }}</td>
                        <td class="text-center">
                            <a href="{{ path('app_recrutement_show', {'id': recrutement.id}) }}" class="btn btn-xs btn-primary" title="Show">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a href="{{ path('app_recrutement_edit', {'id': recrutement.id}) }}" class="btn btn-xs btn-warning" title="Edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
