{% extends 'Backbase.html.twig' %}

{% block title %} Projet index {% endblock %}


{% block body %}
    <h1>Projet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Competences</th>
                <th>Budget</th>
                <th>Date_deb</th>
                <th>Date_fin</th>
                <th>Proprietaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.id }}</td>
                <td>{{ projet.titre }}</td>
                <td>{{ projet.competences }}</td>
                <td>{{ projet.budget }}</td>
                <td>{{ projet.dateDeb ? projet.dateDeb|date('Y-m-d') : '' }}</td>
                <td>{{ projet.dateFin ? projet.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ projet.proprietaire }}</td>
                <td>
                    <a href="{{ path('app_projet_show', {'id': projet.id}) }}">show</a>
                    <a href="{{ path('app_projet_edit', {'id': projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
