{% extends 'Frontbase.html.twig' %}

{% block title %} Projet index {% endblock %}

{% block body %}
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row justify-content-start">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Projects</h6>
                <h1 class="mb-5"> Projets </h1>

                <div class="container-md">
                    <a class="btn btn-primary" href="{{ path('app_projet_new') }}">Create new</a>
                </div>

            </div>
            <div class="text-center">
                <input class="form-control border-end-0 border rounded-pill" type="text" placeholder="search" id="search">
            </div>

            <div class="row g-4 justify-content-center" id="search-results">
                {% for projet in projets %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="course-item bg-light">

                            <div class="text-center p-4 pb-0">
                                <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                                <h2 class="mb-4">{{ projet.titre }}</h2>
                                <h3 class="mb-0">{{ projet.budget }}</h3>
                                <h6 class="mb-4">{{ projet.competences }}</h6>
                                <a class="btn btn-primary"
                                   href="{{ path('app_projet_show_front', {'id': projet.id}) }}">show</a>
                                <a class="btn btn-outline-primary"
                                   href="{{ path('app_projet_edit_front', {'id': projet.id}) }}">edit</a>
                                <a class="btn btn-primary"
                                   href="{{ path('app_proposition_index_My', {'id_projet': projet.id}) }}">show propositions</a>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i
                                            class="fa fa-user-tie text-primary me-2"></i>{{ projet.dateDeb ? projet.dateDeb|date('Y-m-d') : '' }}
                                </small>
                                <small class="flex-fill text-center border-end py-2"><i
                                            class="fa fa-clock text-primary me-2"></i>{{ projet.dateFin ? projet.dateFin|date('Y-m-d') : '' }}
                                </small>
                                <small class="flex-fill text-center py-2"><i
                                            class="fa fa-user text-primary me-2"></i>{{ projet.proprietaire }}</small>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="8">no projets found</td>
                    </tr>
                {% endfor %}
            </div>


            <div id="pagination" class="d-flex justify-content-center mt-4">
                {{ knp_pagination_render(projets, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
            </div>

        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        var delayTimer; // Variable to store the timer ID

        function search() {
            // Clear the previous timer
            clearTimeout(delayTimer);
            // Set a new timer to execute the search after a delay (e.g., 300 milliseconds)
            delayTimer = setTimeout(function() {
                var query = document.getElementById('search').value;
                var url = '{{ path('app_projet_index_front') }}?q=' + query;
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function(response) {
                        $('#search-results').html(response.content); // Update search results HTML
                        $('#pagination').html(response.pagination); // Update pagination HTML
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }, 300); // Set the delay time here (300 milliseconds in this example)
        }
        document.getElementById('search').addEventListener('input', search);
    </script>
    <!-- Courses End -->
    {% endblock %}

