{% extends 'Back/base.html.twig' %}

{% block title %}
    Offers
{% endblock %}

{% block body %}
{% set successFlash = app.session.flashbag.get('success') %}
{% if successFlash is not empty %}
    <div id="successAlert" class="alert alert-success mt-4" style="display: none; position: fixed; top: 0; left: 50%; transform: translateX(-50%); z-index: 9999;">
        <span class="iconify" data-icon="carbon:checkmark-outline" data-inline="false"></span>
        {% for message in successFlash %}
            {{ message|raw }}<br>
        {% endfor %}
    </div>
{% endif %}


	<div class="row align-items-center my-5">
		<div class="col-md-7">
			<h1 class="display-3 font-weight-bold text-white">Offers list</h1>
		</div>
		<div class="col-md-5 text-end">
			<a href="{{ path('app_offer_new') }}" class="btn btn-lg btn-info">
				<i class="fa fa-plus" aria-hidden="true">&nbsp;</i>
				Offer</a>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead class="bg-dark text-white">
				<tr>
					<th scope="col" class="text-center">Id</th>
					<th scope="col" class="text-center">Title</th>
					<th scope="col" class="text-center">Desc.</th>
					<th scope="col" class="text-center">Author</th>
					<th scope="col" class="text-center">Date</th>
					<th scope="col" class="text-center">Type</th>
					<th scope="col" class="text-center">Motive</th>
					<th scope="col" class="text-center">Location</th>
					<th scope="col" class="text-center">Skills</th>
					<th scope="col" class="text-center">File</th>
					<th scope="col" class="text-center">Status</th>
					<th scope="col" class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for offer in offers %}
					<tr>
						<td class="text-center">{{ offer.id }}</td>
						<td class="text-center">{{ offer.title }}</td>
						<td class="text-center">{{ offer.description|length > 50 ? offer.description|slice(0, 50) ~ '...' : offer.description }}</td>
						<td class="text-center">{{ offer.author }}</td>
						<td class="text-center">{{ offer.CreatedAt ? offer.CreatedAt|date('Y-m-d') : '' }}</td>
						<td class="text-center">{{ offer.type }}</td>
						<td class="text-center">{{ offer.motive }}</td>
						<td class="text-center">{{ offer.location }}</td>
						<td class="text-center">
							{% for skill in offer.skills %}
								{{ skill }}
								{% if not loop.last %},
								{% endif %}
							{% endfor %}
						</td>
						<td class="text-center">
							{% if offer.fileName %}
								{{ offer.fileName }}{% else %}No file
							{% endif %}
						</td>
						<td>{{ offer.status }}</td>
						<td class="text-center">
							<a href="{{ path('app_offer_edit', {'id': offer.id}) }}" class="btn btn-xs btn-primary" title="Edit offer">
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</a>
							<a href="{{ path('app_offer_delete', {'id': offer.id}) }}" class="btn btn-xs btn-danger" title="Delete offer">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</a>
							{% if offer.fileName %}
								<a href="{{ path('app_download_file', {'id': offer.id}) }}" class="btn btn-xs btn-pink" title="Download file">
									<i class="fa fa-download" aria-hidden="true"></i>
								</a>
							{% else %}
								&nbsp;
								<!-- Empty space if no file -->
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10" class="text-center">No records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% if offers|length > 0 %}
		<!-- Pagination -->
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				{% set total_pages = (offers|length / 5)|round(0, 'ceil') %}
				{% set current_page = app.request.query.get('page') ?? 1 %}

				{% if current_page > 1 %}
					<li class="page-item">
						<a class="page-link" href="{{ path('app_offer_index', {'page': current_page - 1}) }}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				{% endif %}

				{% for page in 1..total_pages %}
					{% set active = page == current_page ? 'active' : '' %}
					<li class="page-item {{ active }}">
						<a class="page-link" href="{{ path('app_offer_index', {'page': page}) }}" style="{{ active == 'active' ? 'color: white;' }}">
							{{ page }}
						</a>
					</li>
				{% endfor %}

				{% if current_page < total_pages %}
					<li class="page-item">
						<a class="page-link" href="{{ path('app_offer_index', {'page': current_page + 1}) }}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	{% endif %}
	<style>
		.btn-pink {
			background-color: pink;
			color: white;
		}
	</style>
{% endblock %}
