{% extends "Frontbase.html.twig" %}

{% block body %}
<div class="container">
   <div class="row">
        <h3 class="mt-5 mb-5">Ajouter Reclamation</h3>
         <div class="col-md-6 offset-md-3">
            {{ form_start(form) }}
                <div class="form-group">
                   {{ form_label(form.title) }}
                   {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                   {{ form_errors(form.title) }} {# Display errors for the 'title' field #}
                </div>
                <div class="form-group">
                   {{ form_label(form.content) }}
                   {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                   {{ form_errors(form.content) }} {# Display errors for the 'content' field #}
                </div>
                <div class="form-group">
                   <button class="btn btn-info mt-2 text-white">Submit</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
