{% extends 'Backbase.html.twig' %}
{% block title %} Admin {% endblock %}

{% block nomdepage %}
    <h6>Edit user</h6>
{% endblock %}

{% block body %}
    <div class="container">
        
    {% if form_errors(f) %}
        <div class="alert alert-danger">
        {#<span style="color:red"></span>#}
            {{ form_errors(f) }}
        </div>
    {% endif %}
       

        {{ form_start(f, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="col-6">  
                    {{ form_label(f.username) }}
                    {{ form_widget(f.username, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-6">
                    {{ form_label(f.email) }}
                    {{ form_widget(f.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                 
                <div class="col-6">
                    <label for="user_roles">Role</label>
                    {{ form_widget(f.roles, {'attr': {'class': 'form-control'}}) }} <br>
                </div>

               <div class="form-check">
                   {{ form_label(f.isVerified, null, {'label_attr': {'class': 'form-check-label'}}) }}
                   {{ form_widget(f.isVerified, {'attr': {'class': 'form-check-input'}}) }}
                <div class="form-error-message">
                   {{ form_errors(f.isVerified) }}
                </div>
                </div>
                
                <div class="col-6">
                   {{ form_label(f.password) }}
                   {{ form_widget(f.password, {'attr': {'class': 'form-control'}}) }}
                </div> <br>

                  
                {{ form_widget(f.save, {'attr': {'class': 'btn btn-primary'}}) }} <br>
                
            

            <a href="{{ path('app_admin') }}" style="text-decoration: underline;">Back to list users</a>

            {{ form_end(f)}}
        
    </div>
{% endblock %}

